.character-list-container {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #ffd000;
  font-size: 14px;
  margin-left: 250px;
  margin-top: 40px;
  padding: 22px;
  width: 40vw;
  border-radius: 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #202020;
}

.character-card-block {
  margin-top: 22px;
}

.character-list-element {
  height: auto;
  width: 60%;

  font-family: "Helvetica Neue", sans-serif;
  color: #ffd000;
  padding: 10px;
  font-size: 19px;
  border-radius: 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #202020;
}

.character-list-element:hover {
    color:blue;
}

.character-list-add {
  font-family: "Helvetica Neue", sans-serif;
  color: #ffd000;
  padding: 10px;
  font-size: 19px;
  border-radius: 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.character-list-add:hover {
  background-color: #ffd000;
  color: black;
  cursor: pointer;
}

.character-list-header {
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  color: #ffd000;
  font-size: 22px;
  margin-left: 42px;
  margin-top: 16px;
}

.character-list-container:hover {
  background-color: transparent;
}

.character-list-item-bio {
  width: 430px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 22px;
  padding: 10px;
  background-color: #2b3543;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.character-show-container {
  background-color: rgba(0, 0, 0, 0.836);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
