.character-list-container{
    font-family:'Helvetica Neue', sans-serif;
    font-weight:500;
    color: #ffd000;
    font-size: 14px;
    margin-left:250px;
    padding:22px;
    width:30vw;
    border-radius:60px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #202020;
}

.character-list-container:hover{
    background-color: transparent;
}

.character-list-item-bio{
    width:430px;
    margin-left:150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 22px;
    padding:10px;
    background-color: #2b3543;
    border-radius:40px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}