//dashboard 
.dashboard-subcontainer{
    width: 100%;
    height: 1000vh;
    //change when 3rd mvp is done
    background-color: rgba(0, 0, 0, 0.836);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.character-list-container{
    font-family:'Helvetica Neue', sans-serif;
    font-weight:500;
    color: #ffd000;
    font-size: 14px;
    margin-left:160px;
    margin-bottom: 33px;
    height:30px;
    padding:22px;
    letter-spacing: 3px;

    border-radius:40px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}

.logout-btn{
    font-family:'Helvetica Neue', sans-serif;
    font-weight:500;
    color: #ffd000;
    font-size: 14px;
    margin:16px;
    height:30px;
    padding:22px;
    letter-spacing: 3px;

    border-radius:40px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}

.logout-btn:hover, .character-list-container:hover{
    color:black;
    background-color: #ffd000;
    cursor:pointer;
}
//profile sidebar
.profile-sidebar-container{
    width:302px;
    height:500px;
    position: fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right:300px;

    .profile-sidebar-subcontainer{
        box-shadow: 0px 0px 20px 11px rgba(87, 87, 87, 0.56) ;
        border:1px solid rgb(70, 69, 69);
        border-radius:3px;
        background-color:#1e2124;
        height:459px;
    }

    .profile-sidebar {
        height:900px;
    }

    .profile-sidebar-elements{
        display:flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        font-family:'Helvetica Neue', sans-serif;
        font-weight:500;
        color: #ffd000;
        font-size: 14px;
        margin:16px;
        height:30px;
        padding:22px;
        letter-spacing: 3px;
        
    }

    .profile-header{
        font-family:'Helvetica Neue', sans-serif;
        font-weight:500;
        color: #ffd000;
        font-size: 14px;
        margin:16px;
        height:30px;
        padding:22px;
        letter-spacing: 3px;

        border-radius:40px; 
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #202020;
    }

}