.navbar-container{
    background-color: rgba(0, 0, 0, 0.836);
    display:flex;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 11px rgba(87, 87, 87, 0.56) ;
    align-items: center;
}